body{
    align-items: center;
    background-color: white;
}

.signin_form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

form{
    width: 80%;
    padding: 32px;
    border-radius: 10px;    
    background-color: #f4f3e3;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}

.form_title{
    font-size: 32px;
    margin-bottom: 20px;
    
}

.form_input{
    width:100%;
    margin: 10px 0;
    padding: 12px; 
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form_button {
    padding: 12px;
    width: 100%;
    background-color: #c4a98d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 8px;
    font-family: 'Playfair Display', serif;

}

.form_button:hover {
    background-color: rgba(196, 169, 141,0.5);
}


form .mistakes-message ul {
    padding: 0;
}
form .mistakes-message li {
    margin-bottom: 5px;
}

form #mistakes{
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    display: none;
}
